$dark: #3c4040;
$dark-trans: rgba(60, 64, 64, 0.7);
$light-trans: rgba(239, 230, 221, 0.7);
$light: #efe6dd;
$gold: #c19e47;
$fail: #ff7070;
$info: #4f8dcf;
$success: #5cb270;
$PMCC1: #411e75;
$PMCC2: #92278f;
$PMCC3: #ad3192;
$PMCC-Grad: linear-gradient(
  90deg,
  hsla(264, 59%, 29%, 1) 0%,
  hsla(302, 58%, 36%, 1) 30%,
  hsla(302, 58%, 36%, 1) 100%
);
$PMCC-Grad-vert: linear-gradient(
  0deg,
  hsla(264, 59%, 29%, 1) 0%,
  hsla(302, 58%, 36%, 1) 30%,
  hsla(302, 58%, 36%, 1) 100%
);
