$dark: #3c4040;
$dark-trans: rgba(0, 0, 0, 0.7);
$light: #efe6dd;
$gold: #c19e47;
$fail: #ff7070;
$PMCC1: #411e75;
$PMCC2: #92278f;
$PMCC3: #92278f;
$PMCC-Grad: linear-gradient(
  90deg,
  hsla(264, 59%, 29%, 1) 0%,
  hsla(302, 58%, 36%, 1) 30%,
  hsla(302, 58%, 36%, 1) 100%
);
