@import './assets/base';
button{
    border: solid 1px;
    border-color: var(--TX-Color);
    border-radius: 0.2em;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 &:active{
    background: $PMCC1;
    color: $light;
 }
 @media screen and (min-width: 641px) {
   svg {
     font-size: 2em;
   }
 }
}
.modal{
    height: calc(100vh - 5em);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark;
    position: absolute;
    left: 0;
    top: 5em;
    z-index: 1;
}
#main{
  &.dark {
    --BG-Color: $dark;
    --TX-Color: $light;
    background: $dark;
    color: $light;
  }
  &.light {
    --BG-Color: $light;
    --TX-Color: $dark;
    background: $light;
    color: $dark;
  }
}